version: "3.8"

services:
  db:
    image: postgres:17
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  web:
    build: .
    command: sh -c "python smart_ai_agent/manage.py migrate && python smart_ai_agent/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
volumes:
  db_data:
